* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Устанавливает box-sizing для всех элементов */
    font-family: sans-serif;
}

.page {
  display: block;
  width: 80%;
  height: 120vh;
  margin:30px auto;
  border: thin grey solid;
}

.header {
  background: url(background.avif) no-repeat;
  background-size: cover;
  margin-bottom: 1%;
  text-align: center;
  border-radius: 10px;
  font-size: 1.5vh;
  height: 20%;

}

.header div {
  padding-right: 5px;
  margin-top: 100px;
}

.header ul {
  text-align: right;
}

.header li {
  display: inline;
  margin: 10px 0;
  padding: 10px;
  background:  rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

.header .active {

}

.header ul :nth-child(1){
  color: rgb(199,21,133);
}

.header .head {
  padding: 5px;
  background:  rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-top: 10px;
}

.header .head:hover{
  background:  rgba(255, 255, 255, 1);
}

.header li:hover {
  background:  rgba(255, 255, 255, 1);
}

.main {
  height:70%;
  width:100%;
}

.main-info {
  height: 47%;
  width: 100%;
  margin-bottom: 10px;
}

.main-info div {
  height: 60%;
  width: 60%;
  overflow: hidden;
  margin:1% auto;
  text-align: center;
  margin-bottom: 0;
  border-radius: 10px;
}

.main-info .text{
  height: 25%;
}

.main-info div img{
  width: 100%;
}

.main-info  p{
  text-align: justify;
  text-align-last: center;
  font-size: 2vh;
  margin-bottom: 2%;
}

.main-info span{
  display: block;
  text-align: center;
}

.main-info h2{
  font-size: 3vh;
}

.cards {
  height: auto;
  width: 80%;
  margin: 0 auto;
  font-size: 0;
}

.up, .down{
  width: 100%;
  margin-bottom: 1%;
}

.block {
  display: inline-block;
width: 32%;
vertical-align: top;
border: 2px solid grey;
border-radius: 10px;
margin: 0 0.5%;
font-size: 1.5vh;
box-sizing: border-box;

}

.block:nth-child(3n+1) {
  margin-left: 0;
}

.block:nth-child(3n) {
  margin-right: 0;
}

.block img {
  width: 40%;
  height: auto;
  margin: 5px;
  vertical-align: middle;
  display: inline-block;
}

.conteiner {
  white-space: nowrap;
}

.block span{
  display: inline-block;
  vertical-align: middle;
  width: 55%;
  white-space: nowrap;
  padding: 2%;
  font-size: 1.7vh;
}

.block p{
  padding: 10px;
  font-size: 1.3vh;
  text-align: justify;
  clear: both;
}
